{% extends '::base.html.twig' %}
{% block title %}{% trans %}review.comment.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}review.comment.title{% endtrans %}{% endblock %}
{% block body %}
{% include 'ZpiPaperBundle:Review:show_reviews_block.html.twig' %}
<hr />
{# do: quba. Tutaj zaczyna się twoja robota. #}
{# Ja to widzę tak, że w tym widoku szczegółowym wyświetla się recenzja, #}
{# pod spodem formularz nowego komenta i lista komentarzy. @lyzkov#}
<p>#TODO# Formularz dodawania komentarzy...</p>
<h3>{% trans %}review.comment.comments{% endtrans %}:</h3>
<p>#TODO# Wyświetlanie komentarzy...</p>
{% endblock %}
