{% extends '::base.html.twig' %}
{% block js %}
<script type="text/javascript" src="{{ asset('jquery-1.6.3.js') }}"></script> 
<script type="text/javascript" src="{{ asset('ibox.js') }}"></script> 
{% endblock %}
{% block title %}{% trans %}review.list.title{% endtrans%}{% endblock %}
{% block bodytitle %}{% trans %}review.list.title{% endtrans%}{% endblock %}
{% block body %}

{% set path_details = 'review_details' %}
{% set edit = false %}
{% set manage = false %}
{% set editor = true %}

<div class="table" style="position:relative;">
    <div class="table_title">
        <span>{{ 'paper.list.title' | trans }}</span>
                {#<div class="optionslink">Options</div>
                <div id="abc" class="hidetable"></div>#}
    </div>
    <div class="table_content">     
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="glines">
            <tr>
                <th>Title</th><th>Version</th><th>Abstract</th><th>Authors</th><th>Payment</th><th>Status</th><th>Details</th><th>Action</th>
            </tr>
            {% if not papers_to_review is empty %}
                {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with { 'papers': papers_to_review } %}
            {% elseif not papers_to_review is empty %}
                {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with { 'papers': papers_reviewed } %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
