{% extends '::base.html.twig' %}
{% block js %}
<script type="text/javascript" src="{{ asset('jquery-1.6.3.js') }}"></script> 
<script type="text/javascript" src="{{ asset('ibox.js') }}"></script> 
{% endblock %}
{% block title %}{% trans %}review.list.title{% endtrans%}{% endblock %}
{% block bodytitle %}{% trans %}review.list.title{% endtrans%}{% endblock %}
{% block body %}

{% set path_details = 'review_details' %}
{% set edit = false %}
{% set manage = false %}

<h3>{% trans %}review.list.papers_to_review_list{% endtrans %}</h3>
{% include 'ZpiPaperBundle:Paper:list_body.html.twig' with { 'papers': papers_to_review } %}

<h3>{% trans %}review.list.papers_reviewed_list{% endtrans %}</h3>
{% include 'ZpiPaperBundle:Paper:list_body.html.twig' with { 'papers': papers_reviewed } %}

{% endblock %}
