/web/bundles/
/web/uploads/documents/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
.directory
/*/.directory
/nbproject/*
/.buildpath
/.project
/.settings/*
/.settings
catalog.xml