{% extends 'ZpiPageBundle:Page:layout.html.twig' %}

{% block body %}

<h1>Witamy na naszej przepięknej stronie!</h1>

	Na której znajdą się niebawem bardzo skomplikowane funkcje! ;)
{% endblock %}

{# tutaj admin będzie mógł sobie dodawać podstrony... #}
{% block subPageDev %}

	<div style="text-align: right">
		<ul>
			<li><a href="{{ path('SubPage_new') }}">Dodaj podstrone</a></li>
		</ul>
	</div>

{% endblock %}

