{% extends '::base.html.twig' %}


{% block body %}

	<h1>Witamy na naszej przepięknej stronie!</h1>

	Na której znajdą się niebawem bardzo skomplikowane funkcje! ;)
{% endblock %}

{% block subPageDev %}	
		  <li><a href="{{ path('subpage_new') }}">Dodaj podstrone</a></li>		 		
{% endblock %}



