<br />
Łelkom maj frend on ałyr pejdż!

Czós plis a konference, in łicz du ju łant to participejt: <br />
{% for conference in conferences %}
<a href="{{ path('homepage', { '_conf': conference.prefix }) }}">{{ conference.name }}</a><br /><br />
{% endfor %}

Szałowo co?<br /><br />

Trzeba jakiegoś base.html-a nowego tu walnąć, bo nie chcemy tego starego jako że ma linki do logowania itp. Tutaj tego nie chcemy,<br />
bo i tak nie będzie to działało tak jak powinno. ;)



