{% extends '::base.html.twig' %}
{% block js %}
<script type="text/javascript" src="{{ asset('jquery-1.6.3.js') }}"></script> 
<script type="text/javascript" src="{{ asset('ibox.js') }}"></script> 
{% endblock %}
{% block title %}{% trans %}paper.list.title{% endtrans%}{% endblock %}
{% block bodytitle %}{% trans %}paper.list.papers_list{% endtrans%}{% endblock %}
{% block body %}

{% set path_details = 'paper_details' %}
{% set edit = true %} {# co to jest? #}
{% set manage = false %}
<div class="table" style="position:relative;">
    <div class="table_title">
        <span>{{ 'paper.list.title' | trans }}</span>
                {#<div class="optionslink">Options</div>
                <div id="abc" class="hidetable"></div>#}
    </div>
    <div class="table_content">     
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="glines">
            <tr>
                <th>Title</th><th>Version</th><th>Abstract</th><th>Authors</th><th>Payment</th><th>Status</th><th>Details</th><th>Action</th>
            </tr>
    {% if not nonsubmitted_papers is empty %}
            

    {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with {
    'papers': nonsubmitted_papers } %}
                {#<td>{% trans %}reg.confirm.nonsubmitted_papers{% endtrans %}</td>#}
            
    {% endif %}
    {% if not nonaccepted_papers is empty %}
            

    {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with {
    'papers': nonaccepted_papers } %}
                {#<td>{% trans %}reg.confirm.nonaccepted_papers{% endtrans %}</td>#}
            
    {% endif %} 
    {% if not waiting_papers is empty %}
                  
    {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with {
    'papers': waiting_papers } %}
                    {#<td>{% trans %}reg.confirm.waiting_papers{% endtrans %}</td>#}

                
    {% endif %}  
    {% if not accepted_papers is empty %}
                

    {% include 'ZpiPaperBundle:Paper:list_body.html.twig' with {
    'papers': accepted_papers } %}
                    {#<td>{% trans %}reg.confirm.accepted_papers{% endtrans %}</td>#}
                
                    {% endif %} 
            </table>
        </div>
    </div>
    <br>
    <p><a href="{{ path('paper_new') }}">{% trans %}paper.list.new{% endtrans %}</a></p>

{% endblock %}
