{% extends '::base.html.twig' %}

{% block title %}User's papers{% endblock %}
{% block bodytitle %}User's papers{% endblock %}
{% block body %}

{% for paper in papers %}
{{ paper.paper.id }}. <a href="{{ path('paper_details', { 'id': paper.paper.id }) }}">{{ paper.title }}</a> <br />
{% endfor %}

{% endblock %}