{% extends '::base.html.twig' %}

{% block title %}User's papers{% endblock %}
{% block bodytitle %}User's papers{% endblock %}
{% block body %}

{% for paper in app.user.authorPapers %}
<a href="{{ path('papers_details', { 'id': paper.id }) }}">{{ paper.title }}</a> <br />
{% endfor %}

{% endblock %}