{% extends '::base.html.twig' %}

{% block title %}
    My conferences
{% endblock %}

{% block bodytitle %}
    My conferences
{% endblock %}
{% block body %}
{% for registration in registrations %}
	<li><a href="{{path('registration_show', { 'id': registration.getId()})}}">
	{{ registration.conference.name }}</a></li>	
{% else %}
	<li>You haven't registered to any conference. </li>
{% endfor %}
{% endblock %}
