{% extends '::base.html.twig' %}

{# extends 'ZpiPageBundle:Page:layout.html.twig' #}

{% block title %}{{title}}{% endblock %}

{% block body %}
<h1 style="text-align:center">{{title}}</h1>
<p>
	{{content}}
</p>

{% endblock %}
