{% for subpage in subpages %}
	{% if subpage.position == 'Top' %}
	<li><a href="{{path('subpage_show', { 'titleCanonical': subpage.getTitleCanonical()})}}">{{subpage.getTitle()}}</a></li>
	{% endif %}
{% endfor %}
