{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.assign_editors.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}conf.assign_editors.title{% endtrans %}{% endblock %}
{% block body %}
	<h3>{% trans %}conf.assign_editors.subtitle{% endtrans %}: {{ paper.title }}</h3>
    <form action="{{ path('conference_manage_assign_editors', { 'paper_id': paper.id }) }}" method="POST" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" value="{% trans %}conf.assign_editors.submit{% endtrans %}" />
    </form>
{% endblock %}
