{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.assign_editors.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}conf.assign_editors.title{% endtrans %}</h1>
	<h3>{% trans %}conf.assign_editors.editors_add{% endtrans %}:</h3>
	<ul>
	{% for editor in editors %}
		<li>{{ editor.getName() }} {{ editor.getSurname() }}</li>
	{% else %}
		<li>{% trans %}conf.assign_editors.no_editors{% endtrans %}</li>
	{% endfor %}
	</ul>
	<h3>{% trans %}conf.assign_editors.tech_editors_add{% endtrans %}</h3>
	<ul>
	{% for techEditor in techEditors %}
		<li>{{ techEditor.getName() }} {{ techEditor.getSurname() }}</li>
	{% else %}
		<li>{% trans %}conf.assign_editors.no_tech_editors{% endtrans %}</li>
	{% endfor %}
	</ul>

{% endblock %}
