{% extends '::comasbase.html.twig' %}

{% block title %}{% trans %}conf.list.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}conf.list.title{% endtrans %}{% endblock %}

{% block body %}
	<ul>
	{% for conference in conferences %}
		<li><a href="{{ path('conference_manage', { '_conf': conference.prefix } ) }}">{{ conference.getName() }}</a></li>
	{% else %}
		<li>{% trans %}conf.list.no_conferences{% endtrans %}</li>
	{% endfor %}
	</ul>
	
	<a href="{{ path('conference_new') }}">{% trans %}conf.list.new{% endtrans %}</a>

{% endblock %}
