<h3>{% trans %}conf.manage.papers_title{% endtrans %}</h3>
{% include 'ZpiPaperBundle:Paper:list_body.html.twig' with {
    'path_details': 'conference_manage_paper_details',
    'edit': 0,
    'manage': 1 } %}
