{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.list.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}conf.list.title{% endtrans %}</h1>
	<ul>
	{% for conference in conferences %}
		<li><a href="{{ path('conference_manage') }}">{{ conference.getName() }}</a></li>
	{% else %}
		<li>{% trans %}conf.list.no_conferences{% endtrans %}</li>
	{% endfor %}
	</ul>
	
	<a href="{{ path('conference_new') }}">conf.list.new</a>

{% endblock %}
