{% extends 'ZpiPaperBundle:Paper:list_body.html.twig' %}

{% block list_body %}
	{% set path_details = 'conference_manage_paper_details' %}
    <h3>{% trans %}conf.manage.papers_title{% endtrans %}</h3>
    {{ parent() }}
{% endblock %}

{% block manage %} |
<a href="{{ path('conference_manage_assign_editors', { 'paper_id': paper.id }) }}">
    {% trans %}conf.manage.papers_assign_editors{% endtrans %}</a> |
<a href="{{ path('conference_manage_papers_deadline', { 'paper_id': paper.id }) }}">
	{% trans %}conf.manage.papers_deadline{% endtrans %}</a>
{% endblock %}
