{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.new.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}conf.new.title{% endtrans %}</h1>
	<form novalidate="novalidate" action="{{ path('conference_new') }}" method="POST">
		{{ form_widget(form) }}
		
		<input type="submit" value="{% trans %}conf.new.submit{% endtrans %}" />
	</form>	

{% endblock %}
