/*
 * Kaskadowy arkusz stylów - Jakub Bomba 2007
 */

body {
	margin-top: 0px;
	font: 81.25%/180% Helvetica, Verdana, Tahoma, Arial, sans-serif;
	color:#4c5559;
	height: 100%;
        background-color: #ebeaea;
	}
        
#container {
	margin: 0px auto 0px;
	background: url('./img/background.png') repeat-y;
	width: 1000px;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

#header {
        height: 100px;
}

#left {
	margin-left: 75px;
	width: 200px;
	min-height: 450px;
	float: left;
}
#right {
	margin-left: 25px;
	padding: 0 50px 0;
	background: transparent;
	width: 500px;
	min-height: 450px;
	float: left;
}

a {
	color: #069;
	text-decoration: none;
}

p {
	margin: 0 0 1em 0;
	text-align: justify;
}

input[type=text] {
	width: 300px;
}

input[type=submit] {
	margin: 0.5em 0 0 8.3em;
	padding: 0 10px;
}

form label {
	display: inline-block;
	text-align: right;
	margin: 0 0.5em 0 0;
	width: 8em;
}

#userpanel p, ul li a:hover, #sidebar {
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}